html {
    scroll-snap-type: y mandatory;
}

main {
    margin-top: 135px;
    height: 100vh;
    width: 85%;
    border-radius: 50px;
    margin-inline: auto;
    
    font-family: "Merriweather", serif;
    color: var(--accentcolor2);

    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: grey;
}

#websitedetails {
    position: relative;
    padding: 100px;
    z-index: 2;
}

button {
    font-family: "Merriweather", serif;
    font-size: 28px;
    background-color: var(--accentcolor2);
    color: #FFFFFF;
    padding: 15px 70px;
    border-radius: 40px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border: none;
}

#heropage_img > img {
    position: absolute;
    object-fit: fill;
    width: 100%;
    z-index: 1;
}


#heropage_heading {
    font-size: 64px;
    text-align: center;
    font-weight: 700;
}

#cta {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

/* Verified recipes start here */

section {
    height: 100vh;
    width: 85%;
    margin: auto;
    /* margin-inline: auto; */
    scroll-snap-align: center;
}

#verifiedcontainer, #diversecontainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 50px;
}

#verified, #diverse {
    width: 50%;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 64px;
    color: var(--primarycolor);
}

#verified, #diverse {
    align-self: center;
}

#verified > p, #diverse > p {
    font-size: 32px;
    font-weight: 400;
}

#verifiedpic, #diversepic {
    background-color: grey;
    /* width: 50%;
    height: 60vh; */
    /* align-self: center; */
    width: 40%;
    /* height: 70vh; */
    height: 70vh;
}

#verifiedpic > img, #diversepic > img {
    object-fit: contain;
    width: 100%; 
    height: 100%;
}

